## # TF (Term Frequency) and IDF (Inverse Document Frequency):

**`TF = No. of repitions of a Term in the Sentence/Total no. of Sentences`**

**`IDF = log(No. of Sentences/No. of Sentences containing that t=Term )`**

Using these techniques, our emphasis is on bringing some semantic meaning to the words represented in numerical form.

**Key Intuition**: The key intuition motivating **TF-IDF** is the importance of a term is inversely related to its frequency across documents.

* **`TF`** gives us information on how often a term appears in a document/sentence.


* **`IDF`** gives us information about the **relative rarity** of a term in a collection of documents/sentences.

In [1]:
import nltk

import re
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer

In [2]:
%autosave 30

Autosaving every 30 seconds

In [3]:
para = """Turn data into actionable business insights.
The AWS Data Science team uses the tools our cloud platform provides to unify data preparation, machine learning, and model deployment. We scale the abilities and resources of our customers by delivering advanced functionality for data visualization, feature engineering, model interpretability, and low-latency deployment. Our culture of data-driven decision making requires advanced sales technologies that are timely, accurate, and actionable.

As part of the AWS Data Science team, you’ll discover and solve real-world problems by analyzing large amounts of business data, defining new metrics and business cases, designing simulations and experiments, creating models, and collaborating with colleagues. You’ll bring with you a strong quantitative background and thrive in an environment that leverages statistics, machine learning, operations research, econometrics, and business analysis. And in return, you’ll have the chance to work on some of the world’s largest and diverse datasets.

Learn more about Amazon’s approach to customer-obsessed science on the Amazon Science website, which features the latest news and research from scientists across the company. It’s where you can find information about the conferences we sponsor, the institutions we collaborate with, our awards program, career opportunities, challenges, and more. For the latest updates, subscribe to the monthly newsletter, and follow Amazon Science on LinkedIn, Twitter, Facebook, Instagram, and YouTube.

Interested in AWS? Start here
We’re always glad to connect with talented people. Tell us a bit about what you want to do and we’ll keep you posted on relevant roles and what we’re building at AWS. """

para

'Turn data into actionable business insights.\nThe AWS Data Science team uses the tools our cloud platform provides to unify data preparation, machine learning, and model deployment. We scale the abilities and resources of our customers by delivering advanced functionality for data visualization, feature engineering, model interpretability, and low-latency deployment. Our culture of data-driven decision making requires advanced sales technologies that are timely, accurate, and actionable.\n\nAs part of the AWS Data Science team, you’ll discover and solve real-world problems by analyzing large amounts of business data, defining new metrics and business cases, designing simulations and experiments, creating models, and collaborating with colleagues. You’ll bring with you a strong quantitative background and thrive in an environment that leverages statistics, machine learning, operations research, econometrics, and business analysis. And in return, you’ll have the chance to work on some of the world’s largest and diverse datasets.\n\nLearn more about Amazon’s approach to customer-obsessed science on the Amazon Science website, which features the latest news and research from scientists across the company. It’s where you can find information about the conferences we sponsor, the institutions we collaborate with, our awards program, career opportunities, challenges, and more. For the latest updates, subscribe to the monthly newsletter, and follow Amazon Science on LinkedIn, Twitter, Facebook, Instagram, and YouTube.\n\nInterested in AWS? Start here\nWe’re always glad to connect with talented people. Tell us a bit about what you want to do and we’ll keep you posted on relevant roles and what we’re building at AWS. '

In [4]:
## Tokenization

sentences = nltk.sent_tokenize(para)

In [5]:
## Create an object for Lemmatizing

lemma = WordNetLemmatizer()
lemma

In [6]:
## Step i. CLean the text

corpus = []  # Cleaned sentences

# Lowering the words
for i in range(len(sentences)):
    review = re.sub('[^a-zA-z]', ' ', sentences[i])  # Replace all chars apart from alphabets w white space
    review = review.lower()
    cleaned_words = nltk.word_tokenize(review)
    
    # Removing Stop Words followed by lemmatizing
    cleaned_words = [lemma.lemmatize(i) for i in cleaned_words if cleaned_words not in stopwords.words('english')]
    cleaned_sent = " ".join(cleaned_words)
#     print(cleaned_words)
#     print("--")
    corpus.append(cleaned_sent)

In [7]:
## Let's compare the original sentences against the cleaned ones

[print(f'{i}\n{j}', "\n--") for i, j in zip(sentences, corpus)]

Turn data into actionable business insights.
turn data into actionable business insight
--
The AWS Data Science team uses the tools our cloud platform provides to unify data preparation, machine learning, and model deployment.
the aws data science team us the tool our cloud platform provides to unify data preparation machine learning and model deployment
--
We scale the abilities and resources of our customers by delivering advanced functionality for data visualization, feature engineering, model interpretability, and low-latency deployment.
we scale the ability and resource of our customer by delivering advanced functionality for data visualization feature engineering model interpretability and low latency deployment
--
Our culture of data-driven decision making requires advanced sales technologies that are timely, accurate, and actionable.
our culture of data driven decision making requires advanced sale technology that are timely accurate and actionable
--
As part of the AWS Data Science team, you’ll discover and solve real-world problems by analyzing large amounts of business data, defining new metrics and business cases, designing simulations and experiments, creating models, and collaborating with colleagues.
a part of the aws data science team you ll discover and solve real world problem by analyzing large amount of business data defining new metric and business case designing simulation and experiment creating model and collaborating with colleague
--
You’ll bring with you a strong quantitative background and thrive in an environment that leverages statistics, machine learning, operations research, econometrics, and business analysis.
you ll bring with you a strong quantitative background and thrive in an environment that leverage statistic machine learning operation research econometrics and business analysis
--
And in return, you’ll have the chance to work on some of the world’s largest and diverse datasets.
and in return you ll have the chance to work on some of the world s largest and diverse datasets
--
Learn more about Amazon’s approach to customer-obsessed science on the Amazon Science website, which features the latest news and research from scientists across the company.
learn more about amazon s approach to customer obsessed science on the amazon science website which feature the latest news and research from scientist across the company
--
It’s where you can find information about the conferences we sponsor, the institutions we collaborate with, our awards program, career opportunities, challenges, and more.
it s where you can find information about the conference we sponsor the institution we collaborate with our award program career opportunity challenge and more
--
For the latest updates, subscribe to the monthly newsletter, and follow Amazon Science on LinkedIn, Twitter, Facebook, Instagram, and YouTube.
for the latest update subscribe to the monthly newsletter and follow amazon science on linkedin twitter facebook instagram and youtube
--
Interested in AWS?
interested in aws
--
Start here
We’re always glad to connect with talented people.
start here we re always glad to connect with talented people
--
Tell us a bit about what you want to do and we’ll keep you posted on relevant roles and what we’re building at AWS.
tell u a bit about what you want to do and we ll keep you posted on relevant role and what we re building at aws
--

[None, None, None, None, None, None, None, None, None, None, None, None, None]

### # Creating the TF-IDF model:

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

tfidf_vec = TfidfVectorizer()
X = tfidf_vec.fit_transform(corpus)

In [9]:
# Our TF-IDF vectorized features

X = X.toarray()
X = pd.DataFrame(X)
X

,0,1,2,3,4,5,6,7,8,9,...,145,146,147,148,149,150,151,152,153,154
0,0.000000,0.000000,0.000000,0.000000,0.396865,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
2,0.236662,0.000000,0.000000,0.000000,0.000000,0.204088,0.000000,0.000000,0.00000,0.000000,...,0.163051,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.269669,0.000000,0.232553,0.232553,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.17667,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.121719,0.00000,0.152354,0.110785,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.227176,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.156516,0.00000,0.000000,0.284911,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.27413,0.236400,0.171899,0.000000
7,0.000000,0.160568,0.000000,0.209973,0.000000,0.000000,0.000000,0.362146,0.00000,0.000000,...,0.000000,0.209973,0.000000,0.000000,0.209973,0.000000,0.00000,0.000000,0.000000,0.000000
8,0.000000,0.171560,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.309132,0.000000,0.000000,0.224347,0.000000,0.154566,0.00000,0.000000,0.140681,0.000000
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.220167,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.255306
10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.332902,0.000000,0.00000,0.000000,...,0.229357,0.000000,0.000000,0.000000,0.000000,0.229357,0.00000,0.000000,0.000000,0.000000
12,0.000000,0.165833,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.298813,0.000000,0.433714,0.000000,0.000000,0.000000,0.00000,0.000000,0.271970,0.000000